body{overflow: hidden;
background-color: teal;
border: 0;
margin: 0;
padding: 0;
}
#gamescreen{
    position: fixed;
    left: 0px;
    top: 0px;
}
#background{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;

}
#gameoverbox{
    color: white;
    position: fixed;
    z-index: 1;
    width: 400px ;
    height: 200px;
    top: 400px;
    display: flex;
  justify-content: center;  
  align-items: flex-end;
}

#ranking{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: fantasy;}
    

#ranking:hover{transform: scale(1.3);
cursor: pointer;}
#newgamebox{color: orangered;
    position: fixed;
    z-index: 1;
    width: 400px ;
    top: 300px;
    display: flex;
  justify-content: center;  
  align-items: flex-end;}
#newgame{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: fantasy;
}

#newgame:hover{transform: scale(1.3);
cursor: pointer;}
#fechar:hover{transform: scale(1.3);
    cursor: pointer;}
#rankingtable{
    font-family: fantasy;
    font-weight: 100;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 400px;
    height: 600px;
    background: brown;
    color: white;
    text-align: center;
    justify-content: center;
    z-index: -20;
}